:root {
  --color_base: #f74f9e;
  --color_light: #ff375f;
  --color_dark: #bc3f77;
  --color_text: #ffffff;
  --color_filter_bg: brightness(0) saturate(100%) invert(42%) sepia(61%) saturate(2081%) hue-rotate(306deg) brightness(103%) contrast(94%);
  --color_filter_fg: none;
}
