:root {
  --color_base: #62ba46;
  --color_light: #32d74b;
  --color_dark: #409226;
  --color_text: #ffffff;
  --color_filter_bg: brightness(0) saturate(100%) invert(64%) sepia(11%) saturate(2136%) hue-rotate(60deg) brightness(96%) contrast(91%);
  --color_filter_fg: none;
}
