:root {
  --color_base: #ff5257;
  --color_light: #ff453a;
  --color_dark: #c33739;
  --color_text: #ffffff;
  --color_filter_bg: brightness(0) saturate(100%) invert(55%) sepia(44%) saturate(7197%) hue-rotate(328deg) brightness(109%) contrast(103%);
  --color_filter_fg: none;
}
