:root {
  --color_base: #a550a7;
  --color_light: #bf5af2;
  --color_dark: #a728a6;
  --color_text: #ffffff;
  --color_filter_bg: brightness(0) saturate(100%) invert(67%) sepia(55%) saturate(7321%) hue-rotate(247deg) brightness(96%) contrast(97%);
  --color_filter_fg: none;
}
