:root {
  --color_base: #ffc600;
  --color_light: #ffd60a;
  --color_dark: #bf900e;
  --color_text: #ffffff;
  --color_filter_bg: brightness(0) saturate(100%) invert(74%) sepia(75%) saturate(537%) hue-rotate(356deg) brightness(103%) contrast(102%);
  --color_filter_fg: none;
}
